<div class="container">
    <table class="table mt-5 mb-5 table-hover">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th scope="col" colspan="4">Vagas</th>
            </tr>
        </thead>
        <tbody>
            {{#each response.data}}

                {{#if status}}
                    <tr>
                        <td class="text-left" scope="row" colspan="2"><a href="/posts/{{slug}}" target="_blank">{{title}}</a>
                        </td>
                        <td class="text-right" scope="row" colspan="2">{{postDate}} | {{city}} - SP</td>
                    </tr>
                {{else}} 
                    <tr>
                        <td class="text-left" scope="row" colspan="1">
                            <a href="/posts/{{slug}}" target="_blank">{{title}}</a>
                        </td>
                        <td class="text-left" scope="row" colspan="1">
                            <p class="text-info">
                                [ Vaga Encerrada! ]
                            </p>
                        </td>
                        <td class="text-right" scope="row" colspan="2">{{postDate}} | {{city}} - SP</td>
                    </tr>   
                {{/if}}


            {{else}}

            {{/each}}
        </tbody>
    </table>
</div>