<div class="container mt-5 pt-5 pl-5 pr-5 pb-5 shadow-lg bg-white rounded">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{response.data.title}}</h2>
                <br>
                Empresa: <small>{{response.data.company}}</small>
                <br>
                Cidade: <small>{{response.data.city}} - SP</small>
                <br>
                Telefône: <small>{{response.data.phone}}</small>
                <br>
                Email: <small>{{response.data.email}}</small>
                <br>
                <br>
                <p class="card-text">{{response.data.informationVacancy}}</p>
            </div>
        </div>
</div>